.button {
  background-color: var(--primary);
  border: none;
  border-radius: 3px;
  color: var(--button-color);
  cursor: pointer;
  font-family: inherit;
  height: 30px;
  padding: 0 16px;

  &:hover:not([disabled]) {
    opacity: 0.8;
  }

  &:disabled {
    cursor: default;
  }
}
