:root {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #ab387f;
  --secondary: #555555;
  --app-bg: #fafafa;
  --card-bg: #ffffff;
  --card-border: #f3f3f3;
  --input-bg: #ffffff;
  --input-border: #f3f3f3;
  --input-hover-border: #d8d8d8;
  --button-bg: #ffffff;
  --button-color: #ffffff;
  --button-border: #f3f3f3;
  --button-disabled-bg: #e9e9e9;
  --button-disabled-color: #808080;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
