.card {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 6px;
  padding: 6px 12px;
  position: relative;
  overflow: hidden;

  > button {
    background-color: transparent;
    border: none;
    cursor: zoom-in;
    display: flex;
    float: left;
    margin-right: 12px;
    padding: 0;
    width: 80px;

    > img {
      height: 80px;
      width: 80px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  > h1 {
    color: var(--primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin: 4px 0 2px 0;
    text-transform: uppercase;
  }

  > p {
    color: var(--secondary);
    font-size: 11px;
    font-weight: 500;
    line-height: 15px;
    margin: 0;
  }
}

.no_thumbnail {
  height: 80px;
  width: 80px;
  margin-right: 12px;
  float: left;
}
