.quantity {
  color: var(--secondary);
  display: flex;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  bottom: 12px;
  right: 12px;

  > button {
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    color: var(--primary);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 26px;

    > svg {
      height: 14px;
      width: 14px;
    }

    &:first-child {
      border-right: none;
      border-radius: 3px 0 0 3px;
      margin-left: 8px;
    }

    &:last-child {
      border-left: none;
      border-radius: 0 3px 3px 0;
    }
  
    &:hover {
      background-color: var(--primary);
      border-color: var(--primary);
      color: white;
    }
  }

  > input {
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    color: var(--secondary);
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    outline: none !important;
    text-align: center;
    padding: 0 6px;
    width: 28px;
    appearance: textfield;

    &::-webkit-inner-spin-button {
      appearance: none;
    }

    &::-webkit-outer-spin-button {
      appearance: none;
    }

    &:hover:not(:focus) {
      border-color: var(--input-hover-border);
    }
  
    &:focus {
      border-color: var(--primary);
    }
  }
}
